/* -------------------------------------------------------------------------- */
/* ESTILOS DE HEADER Y FOOTER */
/* -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --greyColor: #f1f1f1;
    --redColor: #cb1517;
    --blackColor: #191613;
    --whiteColor: #fff;
}

* {
    font-family: 'Nunito', sans-serif;
}

.logo {
    width: 250px;
}

.toggler {
    border: none;
}

.navbar-position {
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}

.navbar-custom {
    background-color: var(--greyColor);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.link-custom {
    color: var(--blackColor) !important;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background-color: var(--redColor);
    transition: 0.5s;
}

.link-custom:hover::after {
    width: 100%;
}

.link-active::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    margin: auto;
    background-color: var(--redColor);
    transition: 0.5s;
}

.footer {
    background-color: var(--blackColor);
    color: var(--greyColor);
}

.footer-links {
    color: var(--greyColor);
    opacity: 0.5;
    transition: opacity 0.5s;
}

.footer-links:hover {
    color: var(--greyColor);
    opacity: 1 !important;
}

.fa-brands {
    font-size: 2rem;
    opacity: 0.5;
    margin: 0 1rem;
    transition: opacity 0.5s;
}

.fa-brands:hover {
    opacity: 1;
}

/* -------------------------------------------------------------------------- */
/* BOTONES */
/* -------------------------------------------------------------------------- */

.button-custom-motorcycle,
.button-custom-send {
    background-color: var(--redColor) !important;
    color: var(--whiteColor) !important;
    border: none;
    opacity: 1;
}

.fa-solid.fa-motorcycle,
.fa-solid.fa-paper-plane {
    color: var(--whiteColor) !important;
}

.button-custom-motorcycle:hover > .icon-motorcycle {
    transform: translateX(4rem) rotate(-45deg);
    opacity: 0;
    transition: all 1s;
}

.button-custom-send:hover > .icon-send {
    transform: translateX(4rem) rotate(50deg);
    opacity: 0;
    transition: all 1s;
}

/* -------------------------------------------------------------------------- */
/* ESTILOS DE INICIO */
/* -------------------------------------------------------------------------- */

.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.divider {
    width: 10%;
    height: 10px;
    background-color: var(--redColor);
}

.title {
    color: var(--redColor);
    margin: 100px 0;
}

.card-title {
    color: var(--redColor);
}

.gallery {
    overflow: hidden;
}

.gallery .foto {
    width: 50%;
    float: left;
}

.gallery .foto img {
    width: 100%;
    vertical-align: top;
    opacity: .6;
    transition: all .5s ease;
}

.gallery .foto img:hover {
    opacity: 1;
    transition: all .5s ease;
}

/* -------------------------------------------------------------------------- */
/* ESTILOS DE CONTACTO */
/* -------------------------------------------------------------------------- */

.contact {
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/contactoimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.map {
    width: 100%;
    height: 400px;
}

.fa-solid {
    color: var(--redColor);
}

.color-black {
    color: var(--blackColor) !important;
}

.contact-title {
    color: var(--redColor);
}

.textarea {
    resize: none;
}

/* -------------------------------------------------------------------------- */
/* ESTILOS DE PQR */
/* -------------------------------------------------------------------------- */

.pqr-hero {
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pqrimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accordion-button {
    background-color: var(--redColor);
    opacity: 1;
}

.accordion-button:not(.collapsed){
    background-color: var(--redColor);
    opacity: 0.9;
}

.pqr-button-custom {
    color: var(--whiteColor) !important;
}

.pqr-form {
    margin-top: 100px;
    margin-bottom: 100px;
    background-image:  url(../img/pqrimgsmall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* -------------------------------------------------------------------------- */
/* ESTILOS DE CATALOGO */
/* -------------------------------------------------------------------------- */

.carousel-custom {
    height: 100vh;
}

.carousel-hover:hover {
    transition: all 0.5s;
}

.carousel-hover:hover {
    color: var(--redColor);
}

.image-hover {
    transition: transform 0.5s;
}

.image-hover:hover {
    transform: scale(1.1);
}

.card-button {
    background-color: var(--redColor);
}

.testDrive {
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/testDrive.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* -------------------------------------------------------------------------- */
/* ESTILOS DE NOSOTROS */
/* -------------------------------------------------------------------------- */

.nosotros-banner {
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nosotros-banner-secondary {
    height: 30vh;
    background-image: url(../img/nosotrosBanner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* -------------------------------------------------------------------------- */
/* KEYFRAMES */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px) {
    .gallery .foto {
        width: 25%;
    }
    
}